<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CV Generator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row p-5">
        <div class="col-md-7">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Summary</label>
              <textarea
                type="text"
                class="form-control"
                id="summary"
                name="summary"
                aria-describedby="emailHelp"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Degree</label>
              <input
                type="text"
                class="form-control"
                id="degree"
                name="degree"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">School</label>
              <input
                type="text"
                class="form-control"
                id="school"
                name="school"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >University</label
              >
              <input
                type="text"
                class="form-control"
                id="university"
                name="university"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Previous Work</label
              >
              <textarea
                type="text"
                class="form-control"
                id="previous_work"
                name="previous_work"
                aria-describedby="emailHelp"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Skills</label>
              <textarea
                type="text"
                class="form-control"
                id="skills"
                name="skills"
                aria-describedby="emailHelp"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
