{% extends 'food/base.html' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header bg-info text-black">
          <div class="card-title">Item Add</div>
        </div>
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">{{field.name}} {{field}}</div>
            <br />
            {% endfor %}
            <button type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
