{% extends 'food/base.html' %} {% block body %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header bg-info text-white">
        <div class="card-title">Register</div>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">
            {{field.name }} <br />
            {{ field }}
          </div>
          {% endfor %}
          <br />
          <button type="submit" class="btn-info">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
