body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 80vh;
}

.container {
    display: flex;
    margin-top: 5px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: block;
}

.image {
    margin: 1%;
    padding: auto;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.card-title {
    color: black;
    font-weight: 800;
}

.card-text {
    color: green;
    font-weight: 800;
}

.search {
    width: 500px;
    height: 40px;
}

.search-card {
    border: #fff solid 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.search-btn {
    color: black;
    border-radius: 10px;

}

.paginator {
    padding: 10px 5px;
    background-color: rgb(43, 255, 0);
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.btn-fcc {
    color: black;
    border-radius: 10px;

}